section{
   display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: center; /* centra los elementos en el eje horizontal */
    align-items: center; /* centra los elementos en el eje vertical */
  .div-container{
    max-width: 400px;
    margin: 20px;
    height: 300px;

    .example-card {  
      height: 80%;
      margin: 5px;
      width: 400px;
      background-color: rgb(247, 247, 247);
      .mat-card-header{
        font-size: 25px;
        color: red;
        text-transform: uppercase;
        // background-color: red;
        display: flex;
        justify-content: space-between;
        .mat-card-title{
          cursor: pointer;
        }
        .div-tree-points{
          color: black;
        }
      }
      margin: 15px;
      p{
        height: 40%;
        text-align: justify;
        
      }
      .mat-card-actions{
        position: absolute;
        bottom: 15px;
      }
    }

    }
}

.button-container{
  position: fixed;
  right: 25px;
  bottom: 25px;
}

@media (max-width: 1857px) {
  section{
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 932px) {
  section{

    .div-container{
      .example-card{
        width: 300px;
      }
    }
  }
}



@media screen and (max-width: 1387px) {
  section{
    grid-template-columns: repeat(2, 1fr);
    .div-container{
      height: 350px;
      
      .example-card {  
        margin: 0px;


        height: 90%;
        .mat-card-header{
          font-size: 20px;
        }
        p{
          font-size: 18px;
          display: block;
        }
        .mat-card-actions{
          position:absolute;
          bottom: 20px;
          button{
            padding: 5px;
          }
        }
      }
  
      }
  }


}

@media (max-width: 738px) {
  section{
    grid-template-columns: repeat(1, 1fr);
  }
}