section{
  display: flex;
  height: auto;
  .div-container{
    max-width: 400px;
    margin: 20px;
    height: auto;

    .example-card {  
      height: 80%;
      margin: 5px;
      .mat-card-header{
        font-size: 25px;
        color: red;
        text-transform: uppercase;
        // background-color: red;
        display: flex;
        justify-content: space-between;
        .mat-card-title{
          cursor: pointer;
        }
        .div-tree-points{
          color: black;
        }
      }
      margin: 15px;
      p{
        height: 40%;
        text-align: justify;
        
      }
      .mat-card-actions{
        position: absolute;
        bottom: 15px;
      }
    }

    }
}

@media screen and (max-width: 1181px) {
  section{
    display: block;
    .div-container{
      margin: 5px;
      height: 350px;
      .example-card {  
        height: 90%;
        .mat-card-header{
          font-size: 20px;
          color: red;
          text-transform: uppercase;
        }
        margin: 15px;
        p{
          font-size: 18px;
          display: block;
        }
        .mat-card-actions{
          position:absolute;
          bottom: 20px;
          button{
            padding: 5px;
          }
        }
      }
  
      }
  }
}