<div>
    <h2>Destalles del post</h2>
    <div>
        <h1>Nombre de la peli: <span>{{post.title}}</span></h1>
        <p>Descripción: <span>{{post.content}}</span></p>
    </div>
</div>
<div>
    <h1>Comentarios</h1>
    <div *ngFor="let comment of comments">
        <p>{{ comment.content }}</p>
    </div>
    <div>
        <h3>Crear comentario</h3>
        <form [formGroup]="form"  >
            <div class="form-group">
                <label for="content">Comentario</label>
                <textarea formControlName="content" class="form-control"></textarea>
              </div>
              <button (click)="createComment()" [disabled]="!form.valid" class="btn btn-primary">Crear comentario</button>
        </form>
    </div>
</div>