@import"../../../../../assets/composcss/components";

.container-overall {
    font-family: mst-light;
    background-color:#2E2E2E;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    .div-box-container{
        width: 60%;
        height: auto;
        padding: 50px;
        backdrop-filter: blur(15px);
        background-color: rgba(245, 245, 245, 0.5);
        box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
        border-radius: 25px;

        .div-title{
            // background-color: red;
            h1{
                font: 35px mst-bold;
            }
        }

        .div-container-subtitle-and-form{
            .div-subtitle{
                // background-color: purple;
                margin: 10px 0px 0px 25px;
                h3{
                    font: 15px mst-medium;
                    
                }
            }
            .form{
                .div-form-input{
                    // background-color: pink;
                    margin: 0px 0px 0px 5px;

                    .form-field{
                        width: 100%;
                    }
                }
                .div-button{
                    display: flex;
                    justify-content: flex-end;
                    width: 95%;
                    button{
                        margin-left: 15px;
                    }
                }
            }
        }
    }

}

@media screen and (max-width: 712px) {
    .container-overall {

        .div-box-container{
            width: 90%;
            padding: 30px;
    
            .div-title{
                // background-color: red;
                h1{
                    font: 30px mst-bold;
                }
            }
        }
    
    }
}

@media screen and (max-width: 712px) {
        .container-overall {

        .div-box-container{
            width: 90%;
            padding: 30px;
    
            .div-title{
                // background-color: red;
                h1{
                    font: 25px mst-bold;
                }
            }

             .div-container-subtitle-and-form{
            .div-subtitle{
                // background-color: purple;
                margin: 10px 0px 0px 25px;
                h3{
                    font: 12px mst-medium;
                    
                }
            }
        }
        }
    
    }
}


