<section class="container-overall">
   <div class="div-box-container filter">
    <div class="div-title">
        <h1>Recuperar cuenta</h1>
    </div>
    <div class="div-container-subtitle-and-form">
        <div class="div-subtitle">
            <h3>Por favor ingresa tu correo asociada a tu cuenta.</h3>
        </div>
        <form class="form" action="">
            <div class="div-form-input">
                <mat-form-field class="form-field" appearance="outline">
                    <mat-label>Correo</mat-label>
                    <input autocomplete="off" formControlName="username" type="email" matInput placeholder="Ingrese su nombre usuario">
                    <mat-error>
                         Este campo es requerido
                    </mat-error>
                </mat-form-field>
            </div>
            <div class="div-button">
                <button  mat-raised-button (click)="redirectToLogin()" color="primary">Ir al login</button>
                <button  mat-raised-button type="submit" color="warn">Enviar</button>
            </div>
        </form>
    </div>
   </div>
</section>