@import"../../../../../assets/composcss/components";

.container-overall {
    font-family: mst-light;
    background-color:#2E2E2E;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    .div-box-container{
        width: 60%;
        height: 50%;
        backdrop-filter: blur(15px);
        background-color: rgba(245, 245, 245, 0.2);
        border-radius: 25px;
    }

}

