.container{
    .post-details{
        
        padding: 5px;
        margin: 15px 0px;
        border-radius: 12px;
        text-align: center;
        display: flex;
        justify-content: center;
        .mat-card{
            background-color: rgb(240, 240, 240);
            height: auto;
            width: 80%;
            .mat-card-header{
                display: flex;
                justify-content: center;
                .mat-card-title{
                    h1{
                        color: red;
                        font-weight: bold;
                    }
                }
            }
            .mat-card-content{
                text-align: justify;
            }
        }
    }
}

@media screen and (max-width: 1000px) {
    .container{
        .post-details{
            .mat-card{
                width: 100%;
                
            }
        }
    }
}