<section class="container-overall">
    <div class="login-container filter">
        <div class="div-login-info-container filter">
            <div class="div-login-info-container-son">
                <div class="div-form">
                    <h1 class="title">Registrarse</h1>
                    <form action="" class="inputs-container" [formGroup]="form" (ngSubmit)="onSubmitForm()" enctype="multipart/form-data">
                        <mat-form-field class="form-field" appearance="outline">
                            <mat-label>Nombre de usuario</mat-label>
                            <input autocomplete="off" type="text" formControlName="username" matInput 
                                placeholder="Ingrese su nombre usuario">
                        </mat-form-field>
                        <mat-form-field class="form-field" appearance="outline">
                            <mat-label>contraseña</mat-label>
                            <input type="password" formControlName="password" matInput  
                                placeholder="Ingrese su contraseña">
                        </mat-form-field>
                        <mat-form-field class="form-field" appearance="outline">
                            <mat-label>Correo</mat-label>
                            <input autocomplete="off" formControlName="email" type="email" matInput 
                                placeholder="Ingrese su correo">
                        </mat-form-field>
                        <div>
                            <label for="">Imagen</label>
                            <input (change)="onFileSelected($event)" #fileInput type="file" accept="image/*">
                        </div>
                        <nz-alert [ngClass]="{'show': showAlert}" nzType="error"
                            nzMessage="{{registerMessage}}" class="alert"></nz-alert>

                        <button mat-raised-button [disabled]="form.invalid" type="submit" color="primary">Registrarse</button>

                        <p>¿Ya tienes una cuenta? <a (click)="redirectToLogin()">Iniciar sesión</a></p>

                    </form>
                </div>

            </div>

        </div>

        <img src="../../../assets/images/general/ages.svg" alt="Imagen de iniciar sesión">

    </div>
</section>