.class-section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

    .div-container {
        display: flex;
        align-items: center;
        justify-content: space-around;
        padding: 30px;
        min-width: 740px;
        max-width: 740px;
        min-height: 370px;
        background: #FFFFFF;
        box-shadow: 0px 187px 75px rgba(0, 0, 0, 0.01), 0px 105px 63px rgba(0, 0, 0, 0.05), 0px 47px 47px rgba(0, 0, 0, 0.09), 0px 12px 26px rgba(0, 0, 0, 0.1), 0px 0px 0px rgba(0, 0, 0, 0.1);
        border-radius: 13px;

        .div-container-img {
            img {
                width: 300px;
                border-radius: 10px;
            }

            .container-img-edit{
                width: 100%;
                .form-group {
                    display: flex;
                    flex-direction: column;
                    margin-bottom: 1rem;
                    align-items: center;
                  
                  }
                  .file-name {
                    margin-top: 0.5rem;
                    font-size: 0.8rem;
                  }
                  label {
                    margin-bottom: 0.5rem;
                    font-size: 1rem;
                    font-weight: 500;
                  }
                  
                  input[type='file'] {
                    display: none;
                  }
                  
                  .upload-btn {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 100%;
                    height: 3rem;
                    border-radius: 5px;
                    background-color: #f2f2f2;
                    cursor: pointer;
                    transition: background-color 0.2s ease-in-out;
                    width: 100%;
                  
                    
                  
                  
                  }
                  
                  .upload-btn   img {
                    width: 20px;
                    height: 20px;
                    margin-right: 1rem;
                    
                  }
                  
                  .upload-btn:hover {
                    background-color: #e6e6e6;
                    
                  }
                  
                  .preview-image {
                    max-height: 300px;
                    border-radius: 5px;
                    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
                    position: relative;
                    width: 100%;
                  }
                  
                  .container-image .remove-btn {
                    
                    position: absolute;
                    top: 15px;
                    right: 15px;
                    width: 20px;
                    height: 20px;
                    border-radius: 50%;
                    background-color: black;
                    color: white;
                    font-size: 1rem;
                    line-height: 1;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    cursor: pointer;
                    transition: background-color 0.2s ease-in-out;
                  
                  
                  }
                  
                  .remove-btn:hover {
                    background-color: white;
                    color: black;
                  }
                  
                  .container-image{
                    margin-top: 15px;
                    position: relative;
                    max-width: 300px;
                  }
            }
        }

        .div-container-text {
            margin-top: 20px;
            width: 350px;

            div {
                h2 {

                    text-transform: uppercase;
                    font-size: 25px;
                }

                h3 {
                    text-transform: uppercase;
                    font-size: 15px;
                    text-align: center;

                    span {
                        text-transform: capitalize;
                    }
                }
            }

            .div-container-buttons {
                display: flex;
                justify-content: space-evenly;
                margin-top: 25%;
            }

        }

        .div-container-form-edit {
            display: flex;
            flex-direction: column;
            width: 100%;

            .div-container-title{
                h2{
                    font-size: 25px;
                    text-transform: uppercase;
                }
            }

            form {
                width: 100%;
                display: flex;
                justify-content: space-around;
                align-items: flex-end;

                .container-fields-buttons{
                    margin-left: 15px;
                    .form-field {
                        width: 100%;
                        margin-top: 15px;
                    }
    
                    .div-button {
                        display: flex;
                        justify-content: right;
    
                        button{
                            margin-right: 10px;
                        }
                    }
                }

                .div-container-field-buttons-password{
                    display: flex;
                    flex-direction: column;
                    width: 80%;
                    .div-button{
                        display: flex;
                        justify-content: flex-end;
                        button{
                            margin-left: 15px;
                        }
                    }
                }




            }
        }
    }

}

@media screen and (max-width: 805px) {
    .class-section {
        .div-container {
            display: grid;
            place-items: center;
            padding: 30px;
            min-width: 390px;
            max-width: 390px;


            .div-container-form-edit {
                display: flex;
                flex-direction: column;
                width: 100%;
        
                form {
                   
                    display: block;



                    .div-container-field-buttons-password{
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        width: 100%;
                        .form-field{
                            width: 100%;
                        }
                    }
                }
            }

        }
    }
   
}




@media screen and (max-width: 442px) {
    .class-section {
        .div-container {
            display: grid;
            place-items: center;
            padding: 30px;
            min-width: 370px;
            max-width: 370px;

        }
    }
}

@media screen and (max-width: 403px) {
    .class-section {
        .div-container {
            display: grid;
            place-items: center;
            padding: 30px;
            min-width: 90%;
            max-width: 350px;

            .div-container-img {
                img {
                    width: 250px;
                }
            }

            .div-container-text {
                div {
                    h2 {
                        text-align: center;
                        font-size: 20px;
                    }

                    h3 {
                        font-size: 15px;
                        text-align: center;
                    }
                }

                .div-container-buttons {
                    display: grid;
                    place-items: center;
                    button{
                        margin: 10px;
                        display: block;
                    }
                }
            }

        }
    }
}

@media screen and (max-width: 375px) {
    .class-section {
        .div-container {
            .div-container-text {
                div {
                    h2 {
                        text-align: center;
                        font-size: 20px;
                    }

                    h3 {
                        font-size: 15px;
                        text-align: center;
                    }
                }
    

            }

        }
    }
}

@media screen and (max-width: 353px) {
    .class-section {
        .div-container {
            display: grid;
            place-items: center;
            padding: 30px;
            min-width: 90%;
            max-width: 90%;

            .div-container-img {
                img {
                    width: 170px;
                }
            }

            .div-container-text {
                div {
                    h2 {
                        text-align: center;
                        font-size: 15px;
                    }

                    h3 {
                        font-size: 12px;
                        text-align: center;
                    }
                }
    

            }

            .div-container-form-edit{
                .div-container-title{
                    
                    text-align: center;
                    h2{
                        font-size: 18px;
                    }
                }
                form{
                    .div-container-img{
                        display: flex;
                        justify-content: center;
                        .container-img-edit{
                            width: 85%;
                        }
                    }
                    .container-fields-buttons{
                        .form-field {
                            width: 85%;
                            margin-left: 10px;
                        }
        
                        .div-button {
                            justify-content: center;
                            button{
                                font-size: 10px;

                            }
                        }
                    }
                    .div-container-field-buttons-password{
                        .form-field{
                            width: 80%;
                        }
                        .div-button{
                           .button{
                                font-size: 10px;
                            }
                        }
                        
                    }
                }
            }

        }
    }
}