<section class="class-section">
    <div *ngIf="!editUser" class="div-container">
        <div  class="div-container-img">
               <img *ngIf="avatar" [src]="avatarUrl + avatar" alt="">
        </div>
        <div class="div-container-text">
            <div>
                <h2>Información de mi perfil</h2>
            </div>
            <div>
                <h3> <strong>Usuario: </strong> <span>{{username}}</span></h3>
                <h3><strong>Correo: </strong> <span>{{email}}</span></h3>
            </div>
            <div class="div-container-buttons">
                <button (click)="updateDataButton()" mat-raised-button color="primary">Actualizar datos</button>
                <button mat-raised-button color="warn">Cambiar contraseña</button>
            </div>
        </div>
    </div>

    <div *ngIf="editUser" class="div-container">
        <div class="div-container-img">
            <div class="container-img-edit">
                <div class="form-group">
                    <label for="fileInput">Selecciona una imagen:</label>
                    <div class="upload-btn" (click)="fileInput.click()">
                      <img src="https://img.icons8.com/ios-glyphs/30/000000/image-file.png" />
                      <span *ngIf="!previewImage">Elegir archivo</span>
                      <span *ngIf="previewImage">{{ fileName }}</span>
                    </div>
                    
                    <input
                      type="file"
                      id="fileInput"
                      #fileInput
                      (change)="onFileSelected($event)"
                      accept="image/*"
                    />
                    <div class="container-image">
                    <img
                      *ngIf="previewImage"
                      [src]="previewImage"
                      class="preview-image"
                    />
                    <div *ngIf="previewImage" class="remove-btn" (click)="removeImage()">X</div>
                    </div>
                    
                  </div>
            </div>
        </div>
        <div class="div-container-text div-container-form-edit">
            <div>
                <h2>Actualizar datos</h2>
            </div>
            <form action="">
                <mat-form-field class="form-field" appearance="outline">
                    <mat-label>Usuario</mat-label>
                    <input matInput>
                </mat-form-field>

                <mat-form-field class="form-field" appearance="outline">
                    <mat-label>Correo</mat-label>
                    <input matInput>
                </mat-form-field>

                <div class="div-button">
                    <button mat-raised-button class="button-submit" color="primary">Actualizar datos</button>
                </div>
            </form>
        </div>
    </div>


</section>