<section class="class-section">
    <div *ngIf="!showEditUser && !showChangePassword" class="div-container">
        <div class="div-container-img">
            <img *ngIf="avatar" [src]="avatarUrl + avatar" alt="{{avatarUrl}}">
        </div>
        <div class="div-container-text">
            <div>
                <h2>Información de mi perfil </h2>
            </div>
            <div>
                <h3> <strong>Usuario: </strong> <span>{{username}}</span></h3>
                <h3><strong>Correo: </strong> <span>{{email}}</span></h3>
            </div>
            <div class="div-container-buttons">
                <button (click)="updateDataButton()" mat-raised-button color="primary">Actualizar datos</button>
                <button (click)="changePasswordButton()" mat-raised-button color="warn">Cambiar contraseña</button>
            </div>
        </div>
    </div>

    <div *ngIf="showEditUser && !showChangePassword" class="div-container">
       
        <div class=" div-container-form-edit">
                <div class="div-container-title">
                    <h2>Actualizar datos</h2>
                </div>
                <form [formGroup]="formUpdate">
    
                    <div class="div-container-img">
                        <div class="container-img-edit">
             
                                <label for="fileInput">Selecciona una imagen:</label>
                                <div class="upload-btn" (click)="fileInput.click()">
                                    <img src="https://img.icons8.com/ios-glyphs/30/000000/image-file.png" />
                                    <span *ngIf="!previewImage && !imageName">Elegir archivo</span>
                                    <span *ngIf="previewImage || !imageName">{{ fileName }}</span>
                                    <span *ngIf="imageName && !previewImage">{{ imageName }}</span>
            
                                </div>
            
                                <input type="file" id="fileInput" (change)="onFileSelectedFormUpdate($event)" #fileInput (change)="onFileSelected($event)" accept="image/*" />
                                <div class="container-image">
                                    <img *ngIf="previewImage || avatarPreview instanceof String" [src]="previewImage || avatarUrl + avatarPreview" class="preview-image" />
                                    <div *ngIf="previewImage ||  avatarPreview instanceof String" class="remove-btn" (click)="removeImage()">X</div>
            
                                </div>
            
                        </div>
                    </div>

                    <div class="container-fields-buttons">
                        <mat-form-field class="form-field" appearance="outline">
                            <mat-label>Usuario</mat-label>
                            <input [ngModel]="username" formControlName="username" type="text" matInput>
                        </mat-form-field>
        
                        <mat-form-field class="form-field" appearance="outline">
                            <mat-label>Correo</mat-label>
                            <input [ngModel]="email" formControlName="email" type="email" matInput>
                        </mat-form-field>
        
                        <div class="div-button">
                            <button mat-raised-button (click)="updateDataButton()" class="button-submit"
                                color="primary">Volver</button>
                            <button mat-raised-button (click)="onUpdatePersonaInfo()" class="button-submit" color="warn">Actualizar datos</button>
                        </div>
                    </div>

                
            </form>
        </div>
    </div>

    <div *ngIf="showChangePassword" class="div-container">
        <div class="div-container-img">
            <img *ngIf="avatar" [src]="avatarUrl + avatar" alt="">
        </div>
        <div class="div-container-text div-container-form-edit">
            <div>
                <h2>Cambiar contraseña</h2>
            </div>
            <form [formGroup]="formChangePass">
                <div class="div-container-field-buttons-password">
                    <mat-form-field class="form-field" appearance="outline">
                        <mat-label>Contraseña actual</mat-label>
                        <input formControlName="old_password" type="password" matInput>
                    </mat-form-field>
    
                    <mat-form-field class="form-field" appearance="outline">
                        <mat-label>Nueva contraseña</mat-label>
                        <input formControlName="new_password" type="password" matInput>
                    </mat-form-field>
    
                    <div class="div-button">
                        <button mat-raised-button (click)="changePasswordButton()" class="button"
                            color="primary">Volver</button>
                        <button mat-raised-button class="button" (click)="onChangePassword()" color="warn">Actualizar datos</button>
                    </div>
                </div>

            </form>
        </div>
    </div>

</section>