<div>
    <div class="div-container">
        <form [formGroup]="form">
            <h1 mat-dialog-title>Editar Comentario</h1>
                <div class="form-group">
                    <div>
                        <mat-form-field class="mat-form-field " appearance="fill">
                            <mat-label>Comentario</mat-label>
                            <textarea [(ngModel)]="contentComment"  class="textarea" formControlName="content" matInput></textarea>
                          </mat-form-field>
                    </div>
    
    
                </div>
    
            <div mat-dialog-actions>
                <button color="warn" mat-button mat-dialog-close>Close</button>
                <button color="primary" (click)="editComment()" type="submit" mat-button>Editar</button>
    
            </div>
        </form>
    </div>
</div>