<div>
    <h3>Editar comentario id: {{commentId}} </h3>
    <div>

    </div>
    <p>{{contentComment}}</p>

    <form [formGroup]="form"  >
        <div class="form-group">
            <label for="content">Comentario</label>
            <textarea [(ngModel)]="contentComment"  formControlName="content" class="form-control"></textarea>
          </div>
          <button (click)="editComment()" [disabled]="!form.valid" class="btn btn-primary">Editar comentario</button>
          <button (click)="getComment()">obtener</button>
    </form>
</div>  