<div class="div-container">
    <form [formGroup]="formCreate" (ngSubmit)="onSubmit(formCreate.value)">
        <h1 mat-dialog-title>Nuevo Post</h1>
            <div class="form-group">

                <div>
                    <mat-form-field class="mat-form-field" appearance="fill">
                        <mat-label>Titulo</mat-label>
                        <input formControlName="title" matInput>
                        <mat-error *ngIf="formCreate.controls['title'].touched && formCreate.controls['title'].hasError('required')">
                            Este campo es requerido
                        </mat-error>
                      </mat-form-field>
    
                </div>
                <div>
                    <mat-form-field class="mat-form-field " appearance="fill">
                        <mat-label>Descripción</mat-label>
                        <textarea class="textarea" formControlName="content" matInput></textarea>
                        <mat-error *ngIf="formCreate.controls['content'].touched && formCreate.controls['content'].hasError('required')">
                            Este campo es requerido
                        </mat-error>
                      </mat-form-field>
                </div>


            </div>

        <div mat-dialog-actions>
            <button color="warn" mat-button mat-dialog-close>Cerrar</button>
            <button color="primary" [disabled]="formCreate.invalid"  type="submit" [mat-dialog-close]="true" mat-button>Crear</button>

        </div>
    </form>
</div>