
<section class="container-overall">
    <div class="login-container filter">
        <div class="div-login-info-container filter">
            <div class="div-login-info-container-son">
               <div class="div-form">
                <h1 class="title">Iniciar sesión</h1>
                <form [formGroup]="form" (ngSubmit)="onSubmitForm()" class="inputs-container">
                    <mat-form-field class="form-field" appearance="outline">
                        <mat-label>Nombre de usuario</mat-label>
                        <input autocomplete="off" formControlName="username" type="text" matInput placeholder="Ingrese su nombre usuario">
                        <mat-error *ngIf="form.controls['username'].touched && form.controls['username'].hasError('required')">
                            Este campo es requerido
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field class="form-field" appearance="outline">
                        <mat-label>contraseña</mat-label>
                        <input type="password" formControlName="password" matInput placeholder="Ingrese su contraseña">
                        <mat-error *ngIf="form.controls['password'].touched && form.controls['password'].hasError('required')">
                            Este campo es requerido
                        </mat-error>
                    </mat-form-field>
                    <nz-alert [ngClass]="{'show': showAlert}" nzType="error" nzMessage="Usuario o contreseña incorrecto" class="alert"></nz-alert>
        
                    <p>¿haz olvidado tu contraseña? <a href="">Click aquí</a> </p>
        
                    <button [disabled]="form.invalid" mat-raised-button type="submit" color="primary">Iniciar sesión</button>
        
                    <p>¿No tienes una cuenta? <a routerLink="/register">Registrarse</a> </p>
        
                </form>
               </div>
            
            </div>
            
        </div>

            <img src="../../../assets/images/general/ages.svg" alt="Imagen de iniciar sesión">
        
    </div>
</section>