<div class="sidenav-content">
    <div class="div-navbar">
        <div class="div-bar-icon">
            <ul>
                <li><a routerLink="/posts">Inicio</a></li>
            </ul>
        </div>
        <div class="div-container-per-info">
            <div class="div-avatar">
                <label for="toggle"><img src="../../../assets/images/general/img_avatar.png" alt="Avatar"
                        class="avatar"></label>

            </div>
            <div class="div-navbar-per-infor">
                <h2>{{username | uppercase}}</h2>
                <!-- <p>Desarrollador</p> -->
            </div>
            <div class="div-more-expand">
                <button mat-button [matMenuTriggerFor]="beforeMenu"><mat-icon>expand_more</mat-icon></button>
                <mat-menu #beforeMenu="matMenu" xPosition="before">
                    <button mat-menu-item>Mi perfil</button>
                    <button (click)="logout()" mat-menu-item>Cerrar sesión</button>
                </mat-menu>
            </div>
        </div>
    </div>
    <div class="div-content" id="htmlData">
        <router-outlet></router-outlet>
    </div>
</div>