
    <div class="sidenav-content">
        <div class="div-navbar">
            <div class="div-bar-icon">
                <ul>
                    <li>Inicio</li>
                </ul>
            </div>
            <div class="div-container-per-info">
                <div class="div-avatar">
                    <img src="../../../assets/images/general/img_avatar.png" alt="Avatar" class="avatar">
                </div>
                <div class="div-navbar-per-infor">
                    <h2>Jhonnys De Avila</h2>
                    <p>Desarrollador</p>
                </div>
                <div class="div-triangle-icon">
                    <i class="fa-sharp fa-solid fa-caret-down fa-2x"></i>
                </div>                
            </div>
        </div>
      <div class="div-content" id="htmlData">
        <router-outlet></router-outlet>
      </div>
    </div>
  
