<div class="comments-container" *ngIf="comments">
  <h1>Comentarios</h1>
  <div class="comment" *ngFor="let comment of comments">
    <h4>Comentario:</h4>
    <p>{{ comment.content }}</p>
    <button *ngIf="userId == comment.user_id" (click)="editComment(comment.id)" class="button">Editar</button>
    <button *ngIf="userId == comment.user_id" (click)="deleteComment(comment.id)" class="button btnDelete">Eliminar</button>
  </div>
</div>
<div class="progress-container" *ngIf="comments == 0">
  <progress class="loading-progress"></progress>
</div>
