.comments-container {

    h1 {
      text-align: center;
      font-size: 24px;
      font-weight: bold;
      margin-bottom: 16px;
    }

    .container-comment{
      display: flex;
      .div-img-avatar{
        display: inline;
        img{
          width: 30px;
          height: 30px;
          border-radius: 50%;
          margin-top: 11px;
        }
      }
    }
    .hide-card{
      display: none;
    }
    .show{
      display:block;
      margin: 15px;
    }


    .comment {
      margin: 0px auto;
      border-radius: 15px;
      text-align: center;
      padding: 10px;
      width: 80%;

    }

    .mat-card{
      background-color: rgb(247, 247, 247);
      .mat-card-header{
        display: flex;
        justify-content: space-between;

        .mat-card-title{
          margin: 10px 0px;
        }
      }
    }

  }

.progress-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;

  .ball {
    --size: 20px;
    --timing: 0.7s;
    --displace: 70px;
    border-radius: 50%;
    width: var(--size);
    height: var(--size);
    background: #000;
    margin-right: var(--displace);
    animation: animation321 var(--timing) infinite alternate
       cubic-bezier(0.68, -0.55, 0.265, 1.55);
   }
   
   @keyframes animation321 {
    0% {
     background: #4284f3;
     transform: translateX(var(--displace));
    }
   
    100% {
     background: #ea4335;
     transform: translateX(00px);
    }
   }
   

  progress {
    width: 50%;
  } 
}
.hide-progress{
  display: none;
}


